<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <script src="https://apis.google.com/js/client.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#edf5f1"/>
    <title>Workflow</title>
    <style>
        #mfaktor-loader {
            z-index: 999999;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #EEF2F5;
        }

        #mfaktor-loader svg {
            margin-top: -50px;
            margin-left: -50px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform-origin: 50% 65%;
            transform-origin: 50% 65%;
        }

        #mfaktor-loader svg polygon {
            stroke-dasharray: 17;
            -webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
            animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
        }

        @-webkit-keyframes dash {
            to {
                stroke-dashoffset: 136;
            }
        }

        @keyframes dash {
            to {
                stroke-dashoffset: 136;
            }
        }

        @-webkit-keyframes rotate {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes rotate {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

    </style>
</head>
<body>
<div id="root"></div>

</body>
</html>
